<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JS 与 Swift 交互.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C4F6103A1D9BAE7F00BD61D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4F6104E1D9BAE8000BD61D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4F610591D9BAE8000BD61D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
